<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewsList</title>

</head>
<body>
<a href="{% url 'CCA:test' 11 %}"><button>english</button></a>
<a href="{% url 'CCA:test' 7 %}"><button>computer</button></a>
<a href="{% url 'CCA:test' 8 %}"><button>Maths</button></a>
<a href="{% url 'CCA:test' 9 %}"><button>chemistry</button></a>
<a href="{% url 'CCA:test' 10 %}"><button>physics</button></a>
<a href="{% url 'CCA:test' 12 %}"><button>accounting</button></a>
<a href="{% url 'CCA:test' 14 %}"><button>bussiness adminstration</button></a>

</body>
</html>